* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 1rem auto;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.q-style {
  max-width: 250px;
  border-radius: 6px;
  background-color: aqua;
  padding: 0.5rem;
}

.a-style {
  max-width: 200px;
  border-radius: 6px;
  background-color: lavender;
  padding: 0.5rem;
}

button {
  margin: 20px;
  line-height: 50px;
  min-width: 150px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #fd310f;
  border-radius: 5px;
  color: #fff;
  border: 0;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #fe712a;
}
