* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 1rem auto;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.answer {
  width: 300px;
  height: 100px;
  background-color: #fd310f;
  border: 1px solid grey;
  border-radius: 20px;
  margin-right: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer:hover {
  background-color: purple;
  cursor: pointer;
}

/* .hide {
  display: none;
} */

button {
  margin: 20px;
  line-height: 50px;
  min-width: 150px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #fd310f;
  border-radius: 5px;
  color: #fff;
  border: 0;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #fe712a;
}
