* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 780px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

h1 {
  text-align: center;
}

a {
  color: wheat;
}

.border-class {
  border: 1px solid red;
}

.font-class {
  font-size: 1.5rem;
  font-weight: bold;
}

.hide-class {
  display: none;
}

#table {
  border-collapse: collapse;
  width: 100%;
  /* border: 5px solid black; */
  border-radius: 30px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px #666; /* this draws the table border  */
}

td {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
  border: 5px solid green;
}

tr {
  border: 5px dotted red;
}

p {
  margin-bottom: 2rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* buttons */
.btn {
  display: block;
  padding: 0.25rem 0.5rem;
  margin: 1.5rem;
  min-width: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #fd310f;
  border-radius: 3px;
  color: #fff;
  border: 0;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease-in-out;
}
.btn:hover {
  background-color: #fe712a;
}

.pink-border {
  border: 5px solid pink;
}

.new-table {
  /* border-collapse: collapse; */
  width: 100%;
  border: 1px solid black;
  border-radius: 6px;
}
.new-table-td {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
  border: 1px solid green;
}

.new-table-tr {
  border: 1px dotted red;
}

.green-background {
  background-color: green;
}
